<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zou.mapper.UserMapper">

	<!-- 查询 -->
	<insert id="InsertUser" parameterType="com.zou.entity.User">
	INSERT INTO USER(names,age,email) VALUES(#{names},#{age},#{email})
	</insert>
	
</mapper>
